* text=auto eol=lf

/.github export-ignore

/docs export-ignore

/examples export-ignore

/tests export-ignore

.gitignore export-ignore

.gitattributes export-ignore

phpunit.xml export-ignore

README_FA.md export-ignore
