<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        bootstrap="vendor/autoload.php"
        colors="true"
        cacheDirectory=".phpunit.cache"
        executionOrder="depends,defects"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutTestsThatDoNotTestAnything="true"
>
    <testsuites>

        <testsuite name="RubikaBotPHP">

            <directory>tests</directory>

        </testsuite>

    </testsuites>

    <coverage>

        <include>

            <directory suffix=".php">src</directory>

        </include>

    </coverage>

</phpunit>